.video-item {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.video-thumbnail {
  cursor: pointer;
}

.video-info {
  padding-left: 10px;
}

.video-info a {
  color: black;
}

.video-title {
  font-weight: bold;
  cursor: pointer;
}
